/*! extra theme */

@font-light: 300;
@font-normal: 400;
@font-bold: 500;
@font-bolder: 600;
@font-bold-extra: 700;

html, body {
  font-weight: @font-normal;
}

ul, ol{
  list-style: none;
}

.fa{
  vertical-align: baseline;
}

.panel-inverse {
  .panel-variant(@panel-inverse-border; @panel-inverse-text; @panel-inverse-heading-bg; @panel-inverse-border);
}

.gwt-Button:extend(.btn){
  &:active:extend(.btn:active){}
  &.active:extend(.btn.active){}
  &:hover:extend(.btn:hover){}
  &.hover:extend(.btn.hover){}
  &:focus:extend(.btn:focus){}
  &.focus:extend(.btn.focus){}
  &[disabled]:extend(.btn[disabled]){}
  &.disabled:extend(.btn.disabled){}
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}


.gwt-PopupPanelGlass{
  background-color: #fff;
  .opacity(@modal-backdrop-opacity);
  z-index: @zindex-modal;
}

.gwt-PopupPanel:extend(.modal-content){
  z-index: (@zindex-modal + 10);
}

.alert.pop{
  padding: @alert-padding (@alert-padding * 2.5);
  border: 0 none;
  .box-shadow(0 3px 6px rgba(0,0,0,.325));
  z-index: (@zindex-modal + 10);
}

@import "gwt-TabPanel";
@import "gwt-DatePicker";
@import "gwt-StackLayoutPanel";
@import "gwt-MenuBar";
@import "extra-utilities";

/** Begin of adaptation with Google Fonts **/

::-webkit-input-placeholder {
  padding-top: 3px;
  padding-bottom: 1px;
}

:-moz-placeholder { /* Firefox 18- */
  padding-top: 3px;
  padding-bottom: 1px;
}

::-moz-placeholder {  /* Firefox 19+ */
  padding-top: 3px;
  padding-bottom: 1px;
}

:-ms-input-placeholder {
  padding-top: 3px;
  padding-bottom: 1px;
}

.form-control,
.btn,
.gwt-button{
  padding-top: 8px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-top: 1px;
}

.panel .panel-heading{
  padding-top: 12px;
}

/** End of adaptation with Google Fonts **/

